@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-editor {
  outline: none;
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor .cm-line {
  padding: 0 2px 0 12px;
}

.cm-editor .cm-content {
  padding: 12px 0;
}

.cm-editor .cm-lineNumbers .cm-gutterElement {
  padding: 0 3px 0 12px;
}
